body {
    background-color: #efefef;
    font-family: 'Proxima Nova', sans-serif;
}

.row.wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 31px;
    margin-bottom: 31px;
    color: #979797;
    transition: .1s all ease;
}

.row.wrapper .btn-toggle {
    display: flex;
}

.row.wrapper .btn-toggle .btn-box {
    width: 100%;
    height: 43px;
    background-color: #efefef;
    border: 2px solid #4381ac;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    transition: .3s all ease;
}

.row.wrapper .btn-toggle .col .btn-box.student {
    background: linear-gradient(to left, #4381ac 50%, #efefef 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}

.row.wrapper .btn-toggle .col .btn-box.working {
    background: linear-gradient(to right, #4381ac 50%, #efefef 50%);
    background-size: 201% 100%;
    background-position: right bottom;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
}

.row.wrapper .btn-toggle .btn-box.student.isSelect {
    background-position: right bottom;
    color: #efefef;
}

.row.wrapper .btn-toggle .btn-box.working.isSelect {
    background-position: left bottom;
    color: #efefef;
}

.row.wrapper .btn-toggle .btn-box:hover {
    color: #979797;
}

.row.wrapper .btn-toggle .btn-box:active {
	outline: none;
}

.wrapper .form-student {
    display: none;
    width: 100%;
    border: 2px solid #4381ac;
    margin-top: 10px;
    border-radius: 3px;
    justify-content: space-between;
}

.wrapper .form-worker {
    display: none;
    width: 100%;
    border: 2px solid #4381ac;
    margin-top: 10px;
    border-radius: 3px;
    justify-content: space-between;
}

.wrapper .form-student.enableStudent {
    display: flex;
    flex-direction: column;
}

.wrapper .form-worker.enableWorker {
    display: flex;
    flex-direction: column;
}

.row-info {
    margin-left: 32px;
    margin-right: 32px;
}

.row-info .col-info {
    margin-top: 20px;
    margin-bottom: 20px;
}

.row-info .col-info:first-child {
    margin-left: 0px;
}

.wrapper .row-info .col-info .reg-info {
    margin-top: 11px;
    width: 100%;
    height: 38px;
    border: 1px solid #4381ac;
    transition: .5s all ease;
}

.wrapper .row-info .col-info .reg-info::placeholder {
	font-family: "Proxima Nova";
	font-size: 16px;
	opacity: .8;
	transition: .5s ease all; 
}

.wrapper .row-info .col-info .reg-info:focus::placeholder {
	color: transparent;
}

.wrapper .row-info .col-info input{
    font-size: 16px;
    padding-left: 42px;
    border-radius: 3px;
}

.wrapper .row-info .col-info .reg-info.sel input {
    padding-left: 0px;
}

.wrapper .row-info .col-info input:focus{
    outline: none;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
}

.wrapper .row-info .col-info span{
    margin-top: 15px;
    color: #000;
    font-size: 16px;
}

.wrapper .row-info .col-info .input-box {
    position: relative;
}

.wrapper .row-info .col-info .input-box.curse-info {
    margin-bottom: 35px;
}

.wrapper .row-info .col-info .input-box i{
    position: absolute;
    top: 41%;
    padding-left: 13px;
	font-size: 20px;
	color: #676767;
}

#pass-st {
    padding-right: 42px;
}

#pass, #pass-slash{
    position: absolute;
    top: 45%;
    right: 0;
    padding-right: 13px;
	font-size: 16px;
    color: #676767;
    cursor: pointer;
}

#pass-slash.del-slash {
    display: none;
}

#pass.del-slash {
    display: none;
}

#pass-work {
    padding-right: 42px;
}

#passW, #passW-slash{
    position: absolute;
    top: 45%;
    right: 0;
    padding-right: 13px;
	font-size: 16px;
    color: #676767;
    cursor: pointer;
}

#passW-slash.del-slash {
    display: none;
}

#passW.del-slash {
    display: none;
}

.wrapper .btn-option {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.wrapper .btn-option button {
    width: 201px;
    height: 44px;
    background-color: #efefef;
    border: 2px solid #4381ac;
    border-radius: 3px;
    color: #08658c;
    font-size: 16px;
    transition: .3s all ease;
}
.wrapper .btn-form-submit {
    display: flex;
    justify-content: flex-end;
}

.wrapper .btn-option button:hover {
    color: #efefef;
    background-color: #4381ac;
}

.wrapper .btn-option button:focus {
    outline: none;
}

.wrapper .btn-option .btn-form {
    display: none;
}

.wrapper .btn-option .btn-form.form-active {
    display: block;
}

/* Style for other element */

select {
	width: inherit;
    margin-top: 11px;
    padding: 3px;
    padding-left: 14px;
    font-size: 14px;
    height: 38px;
    border-radius: 3px;
    border: 1px solid #4381ac;
	cursor: pointer;
    background:  white;
    transition: .2s all ease;
}
select:hover {
	color: #4381ac;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
}
select:focus {
	outline: none;
}
select option {
	background-color: white;
	color: gray;
	width: 310px;
	padding: 10px 15px;
	height: 20px;
	cursor: pointer;
}
select option:hover {
	padding-left: 25px;
	width: 270px;
}
option[disabled] {
    display: none;
}
textarea {
    resize: none;
}

textarea::placeholder {
    padding-left: 15px;
}

#note.reg-info {
    border-radius: 3px;
    height: 147px;
    padding-left: 0;
}
#note:focus {
    outline: none;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
}
#note-worker.reg-info {
    border-radius: 3px;
    height: 147px;
    padding: 0;
}
#note-worker:focus {
    outline: none;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
}
input[type='file'] {
    display: none;
}
.browse-btn {
    background: #efefef;
    color: #000;
    min-height: 38px;
    border: none;
    border-radius: 3px;
}
.browse-btn:hover {
    background: #4381ac;
    color: #efefef;
}
.input-container-worker {
    max-width: 320px;
}
.browse-btn-worker {
    background: #efefef;
    color: #000;
    min-height: 38px;
    border: none;
    border-radius: 3px;
}
.browse-btn-worker:hover {
    background: #4381ac;
    color: #efefef;
}
#file-text-worker {
    display: block;
    font-size: 12px;
    padding-top: 20px;
    text-align: center;
}
#comment-worker {
    display: block;
    float:right;
    padding-top: 20px;
    font-size: 14px;
}
#file-text {
    display: block;
    font-size: 12px;
    padding-top: 20px;
    text-align: center;
}
#comment {
    display: block;
    float:right;
    padding-top: 20px;
    font-size: 14px;
}

#pass-reg, #pass-slash-reg{
    position: absolute;
    top: 45%;
    right: 10px;
	font-size: 16px;
    color: #676767;
    cursor: pointer;
}

#pass-slash-reg.del-slash {
    display: none;
}

#pass-reg.del-slash {
    display: none;
}

/* Auth */

.row.auth {
	background: url(../img/brickwall.png) top;
	background-color: #efefef;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
}

.row.auth .box {
	text-align: center;
	width: 287px;
	padding: 20px;
	background: #f3f4fa;
	box-sizing: border-box;
	box-shadow: 0 10px 15px rgba(0,0,0,.5);
	border-radius: 5px;
	margin-bottom: 20px;
}

.row.auth .box h2 {
	text-align: center;
	color: #08658c;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 20px;
}

.row.auth .box .inputBox {
	position: relative;
}

.row.auth .box .inputBox input {
	height: 44px;
	width: 213px;
	font-size: 16px;
	margin-bottom: 10px;	
	border-radius: 3px;
	border: 2px solid #08658c;
	font-weight: bold;
	padding-left: 60px;
	padding-bottom: 5px;
}

.row.auth .box .inputBox input:focus {
	outline: none;
	box-shadow: 0 10px 15px rgba(0,0,0,.1);
}

.row.auth .box .inputBox input::placeholder {
	font-weight: bold;
	font-size: 16px;
	opacity: .8;
	transition: .5s ease all; 
}

.row.auth .box .inputBox input:focus::placeholder {
	color: transparent;
}

.row.auth .box .inputBox:before {
	content: "\f007";
	font-family: "FontAwesome";
	position: absolute;
	font-size: 29px;
	padding-left: 12px;
	padding-right: 12px;
	background-color: #08658c;
	color: #fff;
	border-radius: 3px;
}

.row.auth .box .inputBox:nth-child(2)::before {
	content: "\f023";
	padding-left: 15px;
	padding-right: 14px;
}

.row.auth .container {
	display: block;
	position: relative;
	padding-right: 85px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 12px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: .1s ease all;
}

.row.auth .container:hover {
	color: #08658c;
}

.row.auth .container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.row.auth .btn-login {
	padding: 14px 77px;
	color: #fff;
	border: none;
	background-color: #08658c;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	border: 2px solid transparent;
	transition: .3s ease all;
	cursor: pointer;
}

.row.auth .btn-login:hover {
	background-color: #f3f4fa;
	color: #08658c;
	border: 2px solid #08658c;
}

.row.auth .btn-login:active {
	outline: none;
}

.row.auth a {
	display: block;
	margin-top: 14px;
	color: #000;
	font-size: 12px;
}

.row.auth .error {
	display: flex;
	width: 0px;
	height: 0px;
	justify-content: center;
	align-items: center;
	border: 2px solid red;
	background: rgba(255,0,0,0.2);
	margin-bottom: 10px;
	border-radius: 5px;
	opacity: 0;
	transition: .2s all ease;
}

.row.auth .error p{
	font-size: 14px;
	margin-bottom: 0px;
}


.row.auth .error.error-alert {
	opacity: 1;
	width: 287px;
	height: 50px;
}

.row.auth #passlogin {
	padding-right: 30px;
}

.row.auth #pass, #pass-slash{
    position: absolute;
    top: 25%;
    right: 10px;
    padding-right: 15px;
	font-size: 16px;
    color: #676767;
    cursor: pointer;
}

.row.auth #pass-slash.del-slash {
    display: none;
}

.row.auth #pass.del-slash {
    display: none;
}

/* Loader */

.loader-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.blur-effect {
    filter: blur(10px);
}
.load-wrapp {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.load-3 .line:nth-last-child(1) {animation: loadingC .6s .1s linear infinite;}
.load-3 .line:nth-last-child(2) {animation: loadingC .6s .2s linear infinite;}
.load-3 .line:nth-last-child(3) {animation: loadingC .6s .3s linear infinite;}

@keyframes loadingC {
    0 {transform: translate(0,0);}
    50% {transform: translate(0,15px);}
    100% {transform: translate(0,0);}
}
.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}

.line.disable {
    display: none;
}

/* NEW GRID */

.wrapper .row .option-setting {
    margin-bottom: 15px;
}

.wrapper .row .option-setting .reg-info {
    margin-top: 11px;
    width: 100%;
    height: 38px;
    border: 1px solid #4381ac;
    transition: .5s all ease;
}

.wrapper .row .option-setting .reg-info::placeholder {
	font-family: "Proxima Nova";
	font-size: 16px;
	opacity: .8;
	transition: .5s ease all; 
}

.wrapper .row .option-setting .reg-info:focus::placeholder {
	color: transparent;
}

.wrapper .row .option-setting span{
    margin-top: 15px;
    color: #000; 
    font-size: 16px;
}

.wrapper .row .option-setting .btn-option {
    margin-top: 24px;
}

.wrapper .row .card {
    background: transparent;
    border: 2px solid #4381ac;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    opacity: 1;
    transition: .3s all ease;
}

.wrapper .row .card p{
    display: flex;
    text-align: center;
    width: 160px;
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 16px;
    color: #4381ac;
}

.wrapper .row .card .form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
}

.wrapper .row .card.enable{
    display: none;
}

.wrapper .row .card .form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
}

.wrapper .row .card-eval.enable{
    display: none;
}

.wrapper .row .card-eval {
    background: #4381ac;
    border: 2px solid #4381ac;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    opacity: 1;
    transition: .3s all ease;
}

.wrapper .row .card-eval p{
    display: flex;
    text-align: center;
    width: 160px;
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 16px;
    color: #efefef;
}

.wrapper .row .card-eval .form span{
    display: block;
    color: #efefef;
    font-size: 16px;
    margin-top: 84px;
}

.wrapper .row .card-eval .form h2{
    color: #efefef;
    font-size: 40px;
    margin-top: 20px;
}

.wrapper .row .card-eval .form h3{
    color: #efefef;
    font-size: 16px;
    margin-top: 10px;
}

.wrapper .row .card-eval .form button{
    color: #efefef;
    border: 2px solid #efefef;
    background: transparent;
    font-size: 16px;
    margin-top: 45px;
    padding: 5px 40px;
    margin-bottom: 62px;
    border-radius: 3px;
    transition: .3s all ease;
}

.wrapper .row .card-eval .form button:hover{
    color: #4381ac;
    border: 2px solid #efefef;
    background: #efefef;
    cursor: pointer;
}

.wrapper .row .card .form:first-child{
    align-items: center;
}

.wrapper .row .card .form span{
    color: #000;
    font-size: 14px;
    margin-bottom: 10px;
}

.wrapper .row .card .form .select-info{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    transition: .5s all ease;
    font-size: 14px;
    margin-bottom: 16px;
    position: relative;
}

.wrapper .row .card .form .select-info .data {
    width: 100%;
    height: 30px;
    border: 1px solid #4381ac;
    padding-left: 25px;
    border-radius: 3px;
    transition: .5s all ease;
}

.wrapper .row .card .form .select-info .data::placeholder {
	font-family: "Proxima Nova";
	font-size: 12px;
	opacity: .8;
	transition: .5s ease all; 
}

:focus {
    outline: none;
}
.wrapper .row .card .form .select-info .data:focus::placeholder {
    color: transparent;
    
}

.wrapper .row .card .form .select-info .data:hover {
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    
}

.wrapper .row .card .form .select-info i{
    position: absolute;
    top: 25%;
    left: 0;
    padding-left: 8px;
	font-size: 14px;
	color: #676767;
}

.wrapper .row .card .form .select-info.card-select {
    margin-top: 0;
    width: 100%;
    font-size: 12px;
}

.wrapper .row .card .form .btn-set{
    border: 2px solid #4381ac;
    padding: 5px;
    margin-bottom: 20px;
    color: #4381ac;
    background: transparent;
    transition: .5s all ease;
}

.wrapper .row .card .form .btn-set:hover{
    background-color: #4381ac;
    color: #efefef;
    cursor: pointer;
}

.row.header {
    display: flex;
    height: 47px;
    margin: 0;
    background-color: #075a7c;
    padding-left: 31px;
    align-items: center;
    justify-content: space-between;
}

.row  .hamburger{
    display: none;
}

.row .logo {
    display: flex;
    align-items: center;
}

.row .logo-text {
    color: #efefef;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 13px;
}

.row .notification-exit {
    display: flex;
    justify-content: flex-end;
}

.row .notification-exit a {
    display: block;
    width: 45px;
    text-align: center;
    color: #efefef;
    font-size: 22px;
    transition: .2s all ease;
}

.row .notification-exit a:last-child {
    margin-right: 31px;
}

.row .notification-exit a:hover {
    color: #efefef !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}

.row.profile {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #e7e6e6;
    border-right: 1px solid #9c9b9b;
}

.row.profile .info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 17px 30px 20px 30px;
    width: 100%;
}

.row.profile .photo img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}


.row.profile .desc-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    font-size: 14px;
    margin-bottom: 20px;
}

.row.profile .desc p{
    margin-bottom: 0;
}

.row.option {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row.option a {
    margin-left: 28px;
    color: #979797;
    font-size: 18px;
    transition: .2s all ease;
    margin-bottom: 10px;
}

.row.option a:hover {
    color: #373737;
}

.row.option a:nth-child(1) {
    margin-left: 0px;
}

.left-menu {
    background-color: #4381ac;
    min-height: calc( 100vh - 47px ); 
    display: block;
}

.left-menu.is-visible {
    display: none;
}

.row.menu-block .menu {
    display: block;
    width: 100%;
    list-style-type: none;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.row.menu-block ul {
    margin: 0;
}

.row.menu-block .menu .menu__item a{
    display: flex;
    height: 50px;
    align-items: center;
    color: #fff;
    font-size: 14px;
    position: relative;
    text-decoration: none;
}

.row.menu-block .menu .menu__item i{
    display: inline-block;
    width: 60px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

.row.menu-block .menu .menu__item a:after { 
    content: "";
    width: 15px;
    height: 15px; 
    position: absolute;
    align-items: center;
    right: 0px;
    align-items: center;
    border-top: 0px solid transparent;
    border-right: 0px solid #efefef;
    border-bottom: 0px solid transparent;
    transition: all 0.2s ease 0s; 
    -webkit-transition: all 0.2s ease 0s; 
    z-index: -1;
}

.row.menu-block .menu .menu__item a:hover::after { 
    border-top: 7px solid transparent;
    border-right: 7px solid #efefef;
    border-bottom: 7px solid transparent;
    z-index: 1;
}

.row.menu-block .menu .menu__item a.active::after { 
    border-top: 7px solid transparent;
    border-right: 11px solid #efefef;
    border-bottom: 7px solid transparent;
    z-index: 1;
}


/* Оценки */
.wrapper .btn-toggle .col .btn-box.exam {
    background: linear-gradient(to left, #4381ac 50%, #efefef 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}

.wrapper .btn-toggle .col .btn-box.eval {
    background: linear-gradient(to right, #4381ac 50%, #efefef 50%);
    background-size: 201% 100%;
    background-position: right bottom;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
}

.wrapper .btn-toggle .btn-box.exam.isSelect {
    background-position: right bottom;
    color: #efefef;
}

.wrapper .btn-toggle .btn-box.eval.isSelect {
    background-position: left bottom;
    color: #efefef;
}


.wrapper .table-block {
    margin-top: 20px;
    border: 2px solid #4381ac;
    border-radius: 3px;
    margin-bottom: 20px;
}

.wrapper .table {
    margin: 0;
    padding: 0;
}

.wrapper .table.disabled-table {
    display: none;
}

.wrapper .table th{
    border: none;
    text-align: center;
    color: #4381ac;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 2px solid #4381ac;
}

.wrapper .table td {
    color: #000;
    font-size: 16px;
    border: none;
    text-align: center;
}

.wrapper .table tbody {
    border: none;
}

.wrapper .toggle-eval .el:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .toggle-eval .el:last-child {
    display: flex;
    justify-content: flex-end;
}

tbody:nth-child(even) {background-color: #e7e7e7;}

.wrapper .toggle-eval .btn-set-exam{
    border: 2px solid #4381ac;
    padding: 5px 20px;
    height: 38px;
    border-radius: 3px;
    color: #4381ac;
    background: transparent;
    transition: .5s all ease;
}

.wrapper .toggle-eval p {
    padding: 0;
    margin: 0;
    color: #878787;
}

.wrapper .toggle-eval .btn-set-exam:disabled {
    border: 2px solid #878787;
    color: #878787;
}

.wrapper .toggle-eval .btn-set-exam:disabled:hover {
    border: 2px solid #878787;
    color: #fff;
    background-color: #878787;
}

.wrapper .toggle-eval .btn-set-exam:hover{
    background-color: #4381ac;
    color: #efefef;
    cursor: pointer;
}


/* Send comm */

.wrapper .send-comment {
    margin-right: 102px;
    margin-left: 102px;
}

.wrapper .send-comment .row-info .col-info p {
    color: #000;
    text-align: right;
    font-size: 14px;
}

.wrapper .send-comment .row-info .col-info.btn-send {
    display: flex;
    justify-content: flex-end;
}

.wrapper .notification-mess {
    display: inline-block;
    border: 2px solid #4381ac;
    color: #000;
    border-radius: 3px;
    padding: 20px 10px;
    margin-right: 148px;
    margin-left: 148px;
    background-color: #c9e0f1;
    text-align: center;
    margin-bottom: 40px;
}


/* Read comm */
.wrapper .setting-comment {
    border-bottom: 2px solid #4381ac;
}

.wrapper .setting-comment button {
    width: 100%;
    height: 38px;
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid #4381ac;
    transition: .3s all ease;
    margin-top: 5px;
    margin-bottom: 5px;
}

.wrapper .setting-comment .btn-sort {
    border:none;
    background-color: #c9c9c9;
    transition: .3s all ease;
}

.wrapper .setting-comment .btn-sort:hover {
    background-color: #868686;
    color: #efefef;
}

button:focus {
    outline: none;
}

.wrapper .setting-comment .sort .sort-arrow {
    display: block;
    position: absolute;
    top: 25%;
    right: 0;
    padding-right: 30px;
    font-size: 20px;
}

.wrapper .setting-comment .sort .sort-arrow.disable-arrow {
    display: none;
}

.wrapper .setting-comment button:hover {
    color: #efefef;
    background-color: #4381ac;
    cursor: pointer;
}

.wrapper .setting-comment span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    color: #000
}

.wrapper .comments ul {
    padding: 0;
}
.wrapper .comments ul li {
    list-style: none;
    margin-top: 32px;
    padding-bottom: 44px;
    border-bottom: 1px solid #bbbbbb;
}

.wrapper .comments .user-logo-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper .comments .user-logo-name i{
    display: flex;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid #000;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 40px;
}

.wrapper .comments .user-logo-name span{
    color: #4381ac;
    font-weight: bold;
    font-size: 16px;
}

.wrapper .comments .user-comment .data-block{
    display: flex;
}


.wrapper .comments .user-comment span{
    font-size: 13px;
    margin-left: 20px;
    color: #000;
}

.wrapper .comments .user-comment .content-comment{
    display: flex;
    color: #000;
    margin-top: 15px;
}

.progress{
    height: 10px;
    background: #333;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
}
.progress .progress-bar{
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
}

.progress.blue.teacher-table {
    margin-bottom: 15px;
    margin-top: 30px;
}


/* Table rattings */

.table span {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    margin-top: 20px;
}

.table.info-comm tbody td:last-child{
    width: 20%;
}

.table.info-comm i {
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
}

.table .btn-set-exam{
    border: 2px solid #4381ac;
    width: 80%;
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 3px;
    color: #4381ac;
    background: transparent;
    transition: .5s all ease;
}

.table .btn-set-exam:hover {
    color: #efefef;
    background-color: #4381ac;
    cursor: pointer;
}

.btn-option.table-comm {
    margin-top: 50px;
}

.btn-option.table-comm .our-teacher{
    display: flex;
    justify-content: flex-end;
}

.btn-option.table-comm .our-teacher button:first-child{
    margin-right: 20px;
}

.progress .progress-bar:after{
    content: "";
    display: inline-block;
    width: 9px;
    height: 20px;
    background: #efefef;
    position: absolute;
    top: -5px;
    bottom: -10px;
    right: -1px;
    z-index: 1;
    transform: rotate(35deg);
}
.progress .progress-value{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    position: absolute;
    top: -27px;
    right: -13px;
}
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive {
    0%{ width: 0; }
}   

@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}


/* Documents */

.services-name h4{
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.services-name.sources h4{
    margin-top: 41px;
}

.services-text p {
    color: #676767;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.services-text img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.services-text .leftimg {
    float: left;
    margin: 5px 66px 0px 0px;
}

.services-text .rightimg {
    float: right;
    margin: 0px 0px 0px 66px;
}

.card-sources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    transition: .3s all ease;
}


.card-sources .sources-img {
    height: 41px;
    width: 41px;
    color: #000;
    margin-top: 25px;
}

.card-sources .sources-img img{
    height: 41px;
    width: 41px;
}

.card-sources .sources-name {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-top: 20px;
    padding: 0;
}

.card-sources .sources-description {
    font-size: 14px;
    color: #000;
    margin-top: 10px;
    text-align: center;
    padding: 0;
}

.card-sources button {
    margin-top: 20px;
    margin-bottom: 25px;
    background-color: transparent;
    border-radius: 3px;
    color: #4381ac;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #4381ac;
    transition: .3s all ease;
}

.card-sources button:hover {
    color: #efefef;
    background-color: #4381ac;
    cursor: pointer;
}

.card-sources p{
    padding: 0;
    margin: 0;
}

.hamburger {
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    padding-top: 5px;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; 
}
.hamburger:hover {
    opacity: 0.7; }
.hamburger.is-active:hover {
    opacity: 0.7; }
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #efefef; }

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; 
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; 
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 3px;
    background-color: #efefef;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
.hamburger-inner::before {
    top: -10px; }
.hamburger-inner::after {
    bottom: -10px; }

.hamburger--3dx .hamburger-box {
    perspective: 80px;
}

.hamburger--3dx .hamburger-inner {
transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
.hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx.is-active .hamburger-inner {
background-color: transparent !important;
transform: rotateY(180deg); }
.hamburger--3dx.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
.hamburger--3dx.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

@media (max-width: 1380px) {
    .row.menu-block .menu .menu__item i{
        width: 40px;
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .row.menu-block .menu .menu__item a{
        font-size: 13px;
    }
}

@media (max-width: 1200px) {
    .row.menu-block .menu .menu__item i{
        width: 60px;
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .row.menu-block .menu .menu__item a{
        font-size: 14px;
    }
    .wrapper .table th {
        font-size: 14px;
        padding: 10px 4px;
    }
    
    .wrapper .table td {
        font-size: 14px;
        padding: 5px 0px;
    }

    .wrapper .toggle-eval {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .wrapper .toggle-eval .btn-set-exam{
        border: 2px solid #4381ac;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 14px;
        border-radius: 3px;
        color: #4381ac;
        background: transparent;
        transition: .5s all ease;
    }

    .table .btn-set-exam{
        border: 2px solid #4381ac;
        width: 80%;
        margin-bottom: 15px;
        margin-top: 20px;
        font-size: 12px;
        border-radius: 3px;
        color: #4381ac;
        background: transparent;
        transition: .5s all ease;
    }

    .wrapper .send-comment .row-info.btn-option {
        flex-direction: column-reverse;
    }
    #go-to-back , #send-mess{
        width: 100%;
    }
    .wrapper .send-comment {
        margin-right: 0px;
        margin-left: 0px;
    }
    .wrapper .notification-mess {
        margin-right: 46px;
        margin-left: 46px;
    }
    .wrapper .comments .user-comment .progress{
        margin-top: 20px;
        width: 100%;
    }
    .wrapper .comments .user-comment span{
        display: block;
        margin-top: 20px;
        margin-left: 0px;
    }
    .btn-option.table-comm {
        margin-top: -20px;
    }
    .btn-option.table-comm button {
        width: 100%;
    }
}

@media (max-width: 810px) {
    .wrapper .table th {
        font-size: 12px;
        padding: 10px 4px;
    }
    
    .wrapper .table td {
        font-size: 12px;
    }
    .btn-option.table-comm {
        margin-top: 20px;
    }
    
}

@media (max-width: 768px) {
    #logo {
        display: none;
    }
    span {
        font-size: 13px;
    }
    .logo-text {
        display: none;
    }
    .logo img {
        display: none;
    }
    .row .hamburger {
        display: block;
    }
    .row .left-menu {
        position: absolute;
        left: 0;
        z-index: 2;
    }
    .main-content {
        position: absolute;
        z-index: 1;
        filter: blur(10px);
    }
}

@media (max-width: 768px) {
    .wrapper .table th {
        font-size: 14px;
        padding: 10px 4px;
    }
    
    .wrapper .table td {
        font-size: 14px;
    }
    .row.menu-block .menu .menu__item a{
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .wrapper .send-comment .row-info .col-info p {
        font-size: 12px;
    }
    .wrapper .send-comment .row-info .col-info span {
        font-size: 12px;
    }
    #go-to-back , #send-mess{
        font-size: 14px;
    }
    .left-menu {
        width: 247px;
    }

    .wrapper .btn-option button {
        width: 100%;
        margin-top: 20px;
    }
    
    .wrapper .btn-option {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .btn-option.table-comm {
        margin-top: -60px;
    }
}
