body {
    background-color: #efefef;
    font-family: 'Proxima Nova', sans-serif;
}

.header {
    display: flex;
    width: 100%;
    height: 47px;
    background-color: #075a7c;
    padding-left: 31px;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo-text {
    color: #efefef;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 13px;
}

.header .hamburger{
    display: none;
}

.header .notification-exit {
    display: flex;
    height: 100%;
    padding-left: 31px;
    padding-right: 13px;
}

.header .notification-exit a {
    display: block;
    width: 45px;
    text-align: center;
    color: #efefef;
    font-size: 22px;
    padding-top: 8px;
    transition: .2s all ease;
}

.header .notification-exit a:hover {
    color: #efefef !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.2s ease 0s;
}
 
.main-block {
    display: flex;
}

.container {
    display: block;
    margin: 0;
    padding: 0;
    width: 245px;
    transition: .3s all ease;
    height: inherit;
}

.container.is-visible {
    display: none;
}

.container .menu-block {
    display: flex;
    width: 245px;
    min-height: calc(100% - 120px);
    background-color: #4381ac;
}

.container .profile {
    display: flex;
    flex-direction: column;
    width: 245px;
    height: 135px;
    background-color: #e7e6e6;
    border-right: 1px solid #9c9b9b;
    padding: 17px 30px;
}

.container .profile .info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.container .profile .photo img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}


.container .profile .info .desc {
    padding-right: 17px;
    color: #000;
    font-size: 14px;
}

.container .profile .info .desc p{
    margin-bottom: 0;
}

.container .profile .option {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container .profile .option a {
    margin-top: 22px;
    margin-left: 28px;
    color: #979797;
    font-size: 18px;
    transition: .2s all ease;
}

.container .profile .option a:hover {
    color: #373737;
}

.container .profile .option a:nth-child(1) {
    margin-left: 0px;
}

.container .menu-block .menu {
    display: block;
    list-style-type: none;
    padding: 0;
    padding-top: 15px;
}

.container .menu-block ul {
    margin: 0;
}

.container .menu-block .menu .menu__item a{
    display: flex;
    width: 245px;
    height: 50px;
    align-items: center;
    color: #fff;
    font-size: 14px;
    position: relative;
    text-decoration: none;
}

.container .menu-block .menu .menu__item i{
    display: inline-block;
    width: 60px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

.container .menu-block .menu .menu__item a:after { 
    content: "";
    width: 15px;
    height: 15px; 
    position: absolute;
    align-items: center;
    right: 0px;
    align-items: center;
    border-top: 0px solid transparent;
    border-right: 0px solid #efefef;
    border-bottom: 0px solid transparent;
    transition: all 0.2s ease 0s; 
    -webkit-transition: all 0.2s ease 0s; 
    z-index: -1;
}

.container .menu-block .menu .menu__item a:hover::after { 
    border-top: 7px solid transparent;
    border-right: 7px solid #efefef;
    border-bottom: 7px solid transparent;
    z-index: 1;
}

.container .menu-block .menu .menu__item a.active::after { 
    border-top: 7px solid transparent;
    border-right: 11px solid #efefef;
    border-bottom: 7px solid transparent;
    z-index: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 93px;
    margin-right: 93px;
    margin-top: 31px;
    margin-bottom: 31px;
    width: 100%;
    color: #979797;
    transition: .1s all ease;
}

.wrapper .btn-toggle {
    display: flex;
    width: 100%;
}

.wrapper .btn-toggle .btn-box {
    width: 50%;
    height: 43px;
    background-color: #efefef;
    border: 2px solid #4381ac;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    transition: .3s all ease;
}

.wrapper .btn-toggle .btn-box:first-child {
    background: linear-gradient(to left, #4381ac 50%, #efefef 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}

.wrapper .btn-toggle .btn-box:last-child {
    background: linear-gradient(to right, #4381ac 50%, #efefef 50%);
    background-size: 201% 100%;
    background-position: right bottom;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
}

.wrapper .btn-toggle .btn-box.isSelect:first-child {
    background-position: right bottom;
    color: #efefef;
}

.wrapper .btn-toggle .btn-box.isSelect:last-child {
    background-position: left bottom;
    color: #efefef;
}

.wrapper .btn-toggle .btn-box:hover {
    color: #979797;
}

.wrapper .btn-toggle .btn-box:active {
	outline: none;
}


.wrapper .form-student {
    display: none;
    width: 100%;
    border: 2px solid #4381ac;
    margin-top: 10px;
    border-radius: 3px;
    justify-content: space-between;
}

.wrapper .form-worker {
    display: none;
    width: 100%;
    border: 2px solid #4381ac;
    margin-top: 10px;
    border-radius: 3px;
    justify-content: space-between;
}


.wrapper .form-student.enableStudent {
    display: flex;
    flex-direction: column;
}

.wrapper .form-worker.enableWorker {
    display: flex;
    flex-direction: column;
}

.row-info {
    display: flex;
    justify-content: space-between;
    margin-left: 32px;
    margin-right: 32px;

}

.row-info .col-info {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wrapper .row-info .col-info .reg-info {
    margin-top: 11px;
    width: 320px;
    height: 38px;
    border: 1px solid #4381ac;
    transition: .5s all ease;
}

.wrapper .row-info .col-info .reg-info::placeholder {
	font-family: "Proxima Nova";
	font-size: 16px;
	opacity: .8;
	transition: .5s ease all; 
}

.wrapper .row-info .col-info .reg-info:focus::placeholder {
	color: transparent;
}

.wrapper .row-info .col-info input{
    font-size: 16px;
    padding-left: 42px;
    border-radius: 3px;
}

.wrapper .row-info .col-info .reg-info.sel input {
    padding-left: 0px;
}

.wrapper .row-info .col-info input:focus{
    outline: none;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
}

.wrapper .row-info .col-info span{
    margin-top: 15px;
    color: #000;
    font-size: 16px;
}

.wrapper .row-info .col-info .input-box {
    position: relative;
}

.wrapper .row-info .col-info .input-box.curse-info {
    margin-bottom: 35px;
}

.wrapper .row-info .col-info .input-box i{
    position: absolute;
    top: 41%;
    padding-left: 13px;
	font-size: 20px;
	color: #676767;
}

#pass-st {
    padding-right: 42px;
}

#pass, #pass-slash{
    position: absolute;
    top: 45%;
    right: 0;
    padding-right: 13px;
	font-size: 16px;
    color: #676767;
    cursor: pointer;
}

#pass-slash.del-slash {
    display: none;
}

#pass.del-slash {
    display: none;
}

#pass-work {
    padding-right: 42px;
}

#passW, #passW-slash{
    position: absolute;
    top: 45%;
    right: 0;
    padding-right: 13px;
	font-size: 16px;
    color: #676767;
    cursor: pointer;
}

#passW-slash.del-slash {
    display: none;
}

#passW.del-slash {
    display: none;
}

.wrapper .btn-option {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.wrapper .btn-option button {
    width: 201px;
    height: 44px;
    background-color: #efefef;
    border: 2px solid #4381ac;
    border-radius: 3px;
    color: #08658c;
    font-size: 16px;
    transition: .3s all ease;
}

.wrapper .btn-option button:hover {
    color: #efefef;
    background-color: #4381ac;
}

.wrapper .btn-option button:focus {
    outline: none;
}

.wrapper .btn-option .btn-form {
    display: none;
}

.wrapper .btn-option .btn-form.form-active {
    display: block;
}

/* Style for other element */

select {
	width: inherit;
    margin-top: 11px;
    padding: 3px;
    padding-left: 14px;
    font-size: 14px;
    height: 38px;
    border-radius: 3px;
    border: 1px solid #4381ac;
	cursor: pointer;
    background:  white;
    transition: .2s all ease;
}
select:hover {
	color: #4381ac;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
}
select:focus {
	outline: none;
}
select option {
	background-color: white;
	color: gray;
	width: 310px;
	padding: 10px 15px;
	height: 20px;
	cursor: pointer;
}
select option:hover {
	padding-left: 25px;
	width: 270px;
}
option[disabled] {
    display: none;
}
textarea {
    resize: none;
}
#note.reg-info {
    border-radius: 3px;
    height: 147px;
    padding-left: 0;
}
#note:focus {
    outline: none;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
}
#note-worker.reg-info {
    border-radius: 3px;
    height: 147px;
    padding: 0;
}
#note-worker:focus {
    outline: none;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
}
.input-container {
    max-width: 320px;
}
input[type='file'] {
    display: none;
}
.browse-btn {
    background: #efefef;
    color: #000;
    min-height: 38px;
    border: none;
    border-radius: 3px;
}
.browse-btn:hover {
    background: #4381ac;
    color: #efefef;
}
.input-container-worker {
    max-width: 320px;
}
input[type='file'] {
    display: none;
}
.browse-btn-worker {
    background: #efefef;
    color: #000;
    min-height: 38px;
    border: none;
    border-radius: 3px;
}
.browse-btn-worker:hover {
    background: #4381ac;
    color: #efefef;
}
#file-text-worker {
    display: block;
    font-size: 12px;
    padding-top: 20px;
    text-align: center;
}
#comment-worker {
    display: block;
    float:right;
    padding-top: 20px;
    font-size: 14px;
}
#file-text {
    display: block;
    font-size: 12px;
    padding-top: 20px;
    text-align: center;
}
#comment {
    display: block;
    float:right;
    padding-top: 20px;
    font-size: 14px;
}


/* media */
@media (max-width:1553px) {
    .container .menu-block {
        height: calc(100% - 120px);
    }
}

@media (max-width: 1500px) {
    .wrapper .row-info .col-info .reg-info{
        width: 220px;
    }
    .wrapper .row .card .form .btn-set {
        font-size: 14px;
    }
}

@media (max-width: 1190px) {

    .main-block .container .menu-block{
        height: calc(100% - 120px);
    }

    .wrapper .row-info .col-info .reg-info{
        width: 220px;
    }

    .wrapper .row-info {
        margin-left: 5px;
        margin-right: 5px;
    }

    .wrapper .form-student.enableStudent {
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .wrapper .form-worker.enableWorker {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .wrapper .row-info {
        width: 40%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .wrapper .row-info:last-child { 
        justify-content: space-around;
        width: 100%;
    }
    .wrapper .row-info:last-child .col-info:last-child { 
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .wrapper .row-info:last-child .col-info:last-child span { 
        font-size:14px;
    }
}

@media (max-width: 924px) {
    .wrapper .form-student.enableStudent {
        flex-direction: column;
        align-items: center;
    }
    .wrapper .form-worker.enableWorker {
        flex-direction: column;
        align-items: center;
    }
    .wrapper .row-info {
        width: 90%;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .wrapper .row-info:last-child { 
        justify-content: center;
        width: 40%;
    }
}

@media (max-width: 768px) {
    .header .logo-text {
        display: none;
    }
    .header .logo img {
        display: none;
    }
    .header .hamburger {
        display: block;
    }

    .main-block {
        position: relative;
    }
    .container {
        position: absolute;
        left: 0;
        z-index: 2;
        height: 100%
    }
    .wrapper {
        position: relative;
        z-index: 1;
        margin-left: 10px;
        margin-right: 10px;
        filter: blur(10px);
    }

    .wrapper .form-student.enableStudent {
        justify-content: space-around;
        flex-direction: row;
    }
    .wrapper .form-worker.enableWorker {
        justify-content: space-around;
        flex-direction: row;
    }

    .wrapper .row-info {
        width: 45%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .wrapper .row-info:last-child { 
        justify-content: space-around;
        width: 100%;
    }
}

@media (max-height: 650px) {
    .container .menu-block {
        height: 100%;
    }
}

@media (max-width: 590px) {
    .header {
        padding-left: 20px;
    }
    .wrapper .form-student.enableStudent {
        flex-direction: column;
    }
    .wrapper .form-worker.enableWorker {
        flex-direction: column;
    }
    .wrapper .row-info {
        width: 90%;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .wrapper .row-info:last-child { 
        justify-content: space-around;
    }
}



/* auth */



/* Loader */

.loader-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.blur-effect {
    filter: blur(10px);
}
.load-wrapp {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.load-3 .line:nth-last-child(1) {animation: loadingC .6s .1s linear infinite;}
.load-3 .line:nth-last-child(2) {animation: loadingC .6s .2s linear infinite;}
.load-3 .line:nth-last-child(3) {animation: loadingC .6s .3s linear infinite;}

@keyframes loadingC {
    0 {transform: translate(0,0);}
    50% {transform: translate(0,15px);}
    100% {transform: translate(0,0);}
}
.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}

.line.disable {
    display: none;
}

/* CSS hambruger */

.hamburger {
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    padding-top: 5px;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; 
}
.hamburger:hover {
    opacity: 0.7; }
.hamburger.is-active:hover {
    opacity: 0.7; }
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #efefef; }

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; 
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; 
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 3px;
    background-color: #efefef;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
.hamburger-inner::before {
    top: -10px; }
.hamburger-inner::after {
    bottom: -10px; }

.hamburger--3dx .hamburger-box {
    perspective: 80px;
}

.hamburger--3dx .hamburger-inner {
transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
.hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx.is-active .hamburger-inner {
background-color: transparent !important;
transform: rotateY(180deg); }
.hamburger--3dx.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
.hamburger--3dx.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }



/* NEW GRID */

.wrapper .row .option-setting {
    margin-bottom: 15px;
}

.wrapper .row .option-setting .reg-info {
    margin-top: 11px;
    width: 100%;
    height: 38px;
    border: 1px solid #4381ac;
    transition: .5s all ease;
}

.wrapper .row .option-setting .reg-info::placeholder {
	font-family: "Proxima Nova";
	font-size: 16px;
	opacity: .8;
	transition: .5s ease all; 
}

.wrapper .row .option-setting .reg-info:focus::placeholder {
	color: transparent;
}

.wrapper .row .option-setting span{
    margin-top: 15px;
    color: #000;
    font-size: 16px;
}

.wrapper .row .option-setting .btn-option {
    margin-top: 24px;
}

.wrapper .row .card {
    background: transparent;
    border: 2px solid #4381ac;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    opacity: 1;
    transition: .3s all ease;
}

.wrapper .row .card p{
    display: flex;
    text-align: center;
    width: 160px;
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 16px;
    color: #4381ac;
}

.wrapper .row .card .form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
}

.wrapper .row .card.enable{
    display: none;
}

.wrapper .row .card .form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
}

.wrapper .row .card-eval.enable{
    display: none;
}

.wrapper .row .card-eval {
    background: #4381ac;
    border: 2px solid #4381ac;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    opacity: 1;
    transition: .3s all ease;
}

.wrapper .row .card-eval p{
    display: flex;
    text-align: center;
    width: 160px;
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 16px;
    color: #efefef;
}

.wrapper .row .card-eval .form span{
    display: block;
    color: #efefef;
    font-size: 16px;
    margin-top: 84px;
}

.wrapper .row .card-eval .form h2{
    color: #efefef;
    font-size: 40px;
    margin-top: 20px;
}

.wrapper .row .card-eval .form h3{
    color: #efefef;
    font-size: 16px;
    margin-top: 10px;
}

.wrapper .row .card-eval .form button{
    color: #efefef;
    border: 2px solid #efefef;
    background: transparent;
    font-size: 16px;
    margin-top: 45px;
    padding: 5px 40px;
    margin-bottom: 62px;
    border-radius: 3px;
    transition: .3s all ease;
}

.wrapper .row .card-eval .form button:hover{
    color: #4381ac;
    border: 2px solid #efefef;
    background: #efefef;
    cursor: pointer;
}

.wrapper .row .card .form:first-child{
    align-items: center;
}

.wrapper .row .card .form span{
    color: #000;
    font-size: 14px;
    margin-bottom: 10px;
}

.wrapper .row .card .form .select-info{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    transition: .5s all ease;
    font-size: 14px;
    margin-bottom: 16px;
    position: relative;
}

.wrapper .row .card .form .select-info .data {
    width: 100%;
    height: 30px;
    border: 1px solid #4381ac;
    padding-left: 25px;
    border-radius: 3px;
    transition: .5s all ease;
}

.wrapper .row .card .form .select-info .data::placeholder {
	font-family: "Proxima Nova";
	font-size: 12px;
	opacity: .8;
	transition: .5s ease all; 
}

:focus {
    outline: none;
}
.wrapper .row .card .form .select-info .data:focus::placeholder {
    color: transparent;
    
}
.wrapper .row .card .form .select-info .data:hover {
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    
}

.wrapper .row .card .form .select-info i{
    position: absolute;
    top: 25%;
    left: 0;
    padding-left: 8px;
	font-size: 14px;
	color: #676767;
}

.wrapper .row .card .form .select-info.card-select {
    margin-top: 0;
    width: 100%;
    font-size: 12px;
}

.wrapper .row .card .form .btn-set{
    border: 2px solid #4381ac;
    padding: 5px;
    margin-bottom: 20px;
    color: #4381ac;
    background: transparent;
    transition: .5s all ease;
}

.wrapper .row .card .form .btn-set:hover{
    background-color: #4381ac;
    color: #efefef;
    cursor: pointer;
}